
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  background-image: url(../assets/vitthal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -20%;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../assets/vitthal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -20%;
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.6));
  opacity: 0.8; /* Control shadow visibility */
  z-index: -1;
}

.hero-text {
    color: var(--text);
    font-size: 14rem;
    font-weight: 1300;
    font-style: bold;
    opacity: 86%;
    text-shadow: 0px 0px 200px rgba(0, 0, 0, 0.55);
    letter-spacing: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text {
    position: fixed;
    bottom: 5%;
    width: 100%;
    text-align: center;
}
.content {
    color: var(--text);
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
  height: 100vh;
}

.right {
    width: 35%;
}
.about {
    width: 100%;
}
.resume-button {
    width: 100%;
}
.resume-button a {
    width: 100%;
}
.location-placer {
   background-color: #E8EFFF;
    border-radius: 50px;
    display: flex;
    width: max-content;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    padding-right: 20px;
}
.location {
    color: #000;
}
.circle {
    width: 15px;
    height: 15px;
    background-color: #4C6FFF;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.profession {
    margin-top: 10px;
    font-size: 3rem;
    font-weight: 500;
    color: var(--text);
}

.about {
    font-size: 1.5rem;
    letter-spacing: 0px;
}

.resume-button {
    margin-top: 30px;
    background-color: #4C6FFF;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    padding: 15px 25px;
}
.btn-resume {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: auto;
}

.theme {
    position: fixed;
    top: 20px;
    right: 20px;
}

.theme-toggle {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg);
  color: var(--text);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.dark .theme-toggle {
  background-color: #1e293b; /* nice dark-blue */
  color: white;
}

.theme-toggle:hover {
  transform: scale(1.05);
}
